{block content}
<section class="thank-you"><div class="container"><span class="thank-you__mark thank-you__mark--muted">404</span><p class="eyebrow">TIARA s.r.o. / {if $lang === 'en'}NOT FOUND{else}STRÁNKA NENALEZENA{/if}</p><h1>{if $lang === 'en'}This page has<br><em>moved on.</em>{else}Tady už nic<br><em>nestavíme.</em>{/if}</h1><p>{if $lang === 'en'}The page may have moved or the address may be incorrect.{else}Stránka se mohla přesunout nebo je adresa chybná.{/if}</p><a class="button button--navy" href="{if $lang === 'en'}/en/{else}/cs/{/if}">{$labels['home']} <i class="fa-solid fa-arrow-right"></i></a></div></section>
{/block}
