{block content}
<section class="thank-you"><div class="container"><span class="thank-you__mark thank-you__mark--muted">404</span><p class="eyebrow">TIARA s.r.o. / STRÁNKA NENALEZENA</p><h1>Tady už nic<br><em>nestavíme.</em></h1><p>Stránka se mohla přesunout nebo je adresa chybná.</p><a class="button button--navy" href="/">{$labels['home']} <i class="fa-solid fa-arrow-right"></i></a></div></section>
{/block}
