parameters:
	wwwDir: %rootDir%/www

includes:
	- www.neon

services:
	router: App\RouterFactory::createRouter
	security.userAuthenticator: App\Security\UserAuthenticator
	security.passwords: Nette\Security\Passwords
	- App\Model\ProjectRepository
	- App\Model\ServiceRepository
	- App\Model\PageRepository
	- App\Model\InquiryRepository
	- App\Model\FaqRepository
	- App\Model\SettingRepository
	- App\Model\SeoRepository
	- App\Model\NavigationRepository
	- App\Model\UserRepository
	- App\Model\LoginLogRepository
	- App\Model\ImageManager
