parameters:
	appDir: %appDir%
	wwwDir: %appDir%/../www
	dbHost: 127.0.0.1
	dbName: tiara_stavby
	dbUser: root
	dbPassword: ''
	adminEmail: info@tiara-stavby.cz
	baseUrl: https://tiara-stavby.cz

includes:
	- local.neon
	- www.neon

services:
	router: App\RouterFactory::createRouter
	security.userAuthenticator: App\Security\UserAuthenticator
	- App\Model\ProjectRepository
	- App\Model\ServiceRepository
	- App\Model\PageRepository
	- App\Model\InquiryRepository
	- App\Model\SettingRepository
	- App\Model\SeoRepository
	- App\Model\NavigationRepository
	- App\Model\ImageManager

database:
	dsn: 'mysql:host=%dbHost%;dbname=%dbName%;charset=utf8mb4'
	user: %dbUser%
	password: %dbPassword%
	options:
		PDO::ATTR_ERRMODE: PDO::ERRMODE_EXCEPTION
		PDO::ATTR_DEFAULT_FETCH_MODE: PDO::FETCH_ASSOC
		PDO::MYSQL_ATTR_INIT_COMMAND: 'SET NAMES utf8mb4'
