parameters:
	production: false

application:
	errorPresenter: Front:Error
	mapping:
		*: 'App\*Module\presenters\*Presenter'

latte:
	strictTypes: true

session:
	cookieHttponly: true
	cookieSamesite: Lax
	savePath: %tempDir%/sessions
	autoStart: smart

http:
	cookieSecure: auto
	headers:
		X-Frame-Options: SAMEORIGIN
		X-Content-Type-Options: nosniff
		Referrer-Policy: strict-origin-when-cross-origin
		Permissions-Policy: 'camera=(), microphone=(), geolocation=()'
