{block content}
<section class="thank-you"><div class="container"><span class="thank-you__mark"><i class="fa-solid fa-check"></i></span><p class="eyebrow">TIARA s.r.o. / ZPRÁVA ODESLÁNA</p><h1>Děkujeme.<br><em>Brzy se ozveme.</em></h1><p>Vaši poptávku jsme v pořádku přijali. Náš tým se vám brzy ozve.</p><a class="button button--navy" href="/">{$labels['home']} <i class="fa-solid fa-arrow-right"></i></a></div></section>
{/block}
