{block content}
<section class="thank-you"><div class="container"><span class="thank-you__mark"><i class="fa-solid fa-check"></i></span><p class="eyebrow">TIARA s.r.o. / {if $lang === 'en'}MESSAGE RECEIVED{else}ZPRÁVA ODESLÁNA{/if}</p><h1>{if $lang === 'en'}Thank you.<br><em>We’ll be in touch.</em>{else}Děkujeme.<br><em>Brzy se ozveme.</em>{/if}</h1><p>{if $lang === 'en'}Your inquiry is safely with us. A member of our team will get back to you soon.{else}Vaši poptávku jsme v pořádku přijali. Náš tým se vám brzy ozve.{/if}</p><a class="button button--navy" href="{if $lang === 'en'}/en/{else}/cs/{/if}">{$labels['home']} <i class="fa-solid fa-arrow-right"></i></a></div></section>
{/block}
