{block content}
<main class="login-page"><a href="/cs/" class="login-back"><i class="fa-solid fa-arrow-left"></i> Zpět na web</a><div class="login-card"><img src="/images/tiara-logo.svg" width="196" height="58" alt="TIARA s.r.o."><p class="login-card__eyebrow">CONTENT STUDIO</p><h1>Přihlášení</h1><p class="login-card__copy">Správa obsahu webu TIARA s.r.o.</p>{control loginForm}<p class="login-card__help">Pro vytvoření prvního účtu spusťte <code>php bin/create-admin.php</code>.</p></div><div class="login-decoration"><span>01</span><i></i><span>STAVÍME S JISTOTOU</span></div></main>
{/block}
