{block content}
<main class="login-page"><a href="/" class="login-back"><i class="fa-solid fa-arrow-left"></i> Zpět na web</a><div class="login-card"><img src="/images/tiara-logo.svg" width="196" height="58" alt="TIARA s.r.o."><h1>Přihlášení</h1><p class="login-card__copy">Správa obsahu webu TIARA s.r.o.</p>{form loginForm class => 'login-form'}{foreach $form->getOwnErrors() as $loginError}<p class="form-errors" role="alert">{$loginError}</p>{/foreach}<div class="login-field">{label email /}{input email autocomplete => username}{if $form['email']->hasErrors()}<small class="field-error">{$form['email']->getError()}</small>{/if}</div><div class="login-field">{label password /}{input password autocomplete => current-password}{if $form['password']->hasErrors()}<small class="field-error">{$form['password']->getError()}</small>{/if}</div>{input send}{/form}</div><div class="login-decoration"><span>01</span><i></i><span>STAVÍME S JISTOTOU</span></div></main>
{/block}
